$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;

$accent-900: #63A60F;
$accent-200: #E0EDCF;
$accent-100: #EFF6E7;

$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;

$light-600: #C1C1C1;
$light-100: #F6F6F6;

$white: #fff;