.badge {
  position: absolute;
  top: 14px;
  left: 2px;
  z-index: 2;

  &__label {
    display: block;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: $white;
    width: fit-content;
    border-radius: 6px;
    margin-left: 10px;
    margin-bottom: 4px;
    padding: 3px 6px;


    &--novelty {
      background-color: $accent-900;
    }

    &--hit {
      background-color: $orange-900;
    }

    &--sale {
      background-color: $red-900;
    }
  }
}